#!/usr/bin/make -f

PNG_DPI=200

%:
	dh $@

override_dh_auto_build:
	# generate logos in PNG and PDF formats
	for LOGO in scibian; do \
		inkscape --export-filename=logo/$${LOGO}.pdf -D logo/$${LOGO}.svg; \
		inkscape --export-dpi=${PNG_DPI} --export-png=logo/$${LOGO}.png -D logo/$${LOGO}.svg; \
	done
