<%#encoding:UTF-8%><%
idx = attr :index
if @type == :xref
%><%= %(<span class="footnoteref">[<a class="footnote" href="#_footnote_#{idx}" title="View footnote.">#{idx}</a>]</span>) %><%
else
%><%= %(\\footnote{#{@text}}) %><%
end %>
